# python
**/__pycache__/
**/migrations/
env/
**/env/


**/shame/
**/shame*

# node
**/node_modules/
**/public/
**/.git/

#private data
dj_empty_template/gunicorn_config.py
dj_empty_template/bin/start_gunicorn.sh